/* web.css */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#0f0c29, #302b63, #24243e);
    backdrop-filter: blur(4px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: rgba(39, 13, 70, 0.95);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(187, 173, 173, 0.2);

    width: 300px;
}

h1 {
    color: #4285F4;
    margin-bottom: 30px;
    font-size: 28px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #eae2e2;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ece5e5;
    border-radius: 8px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    background-color: #4285F4;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3367d6;
}
