*{
   font-family:  "Roboto Slab", serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgb(143, 201, 57);
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    background: rgb(171, 171, 176);
    border-radius: 10px;
    box-shadow: 0px 0px 10px ;
   /* // backdrop-filter: blur(px); */
}
header{
 text-align: center;
}
form{
    margin-top: 40px;
}
form .form-group{
    display:block;
    margin-bottom: 5px;
    font-size: large;
    font-weight: 500;
    color: #333;
}
button{
    width: 20%;
    height: 20px;
    font-size: 18px;
    border-radius: 6px;
}